@import url('https://fonts.googleapis.com/css?family=Akronim&display=swap');


.App {
  text-align: center;

  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;

  width: 800px;
}


.tone {


  font-family: 'Akronim', cursive;
  color: rgb(202, 35, 35);
  font-size: 50px;


}