@import url('https://fonts.googleapis.com/css?family=Akronim&display=swap');




.touchPad {
    width: 170px;
    height: 100px;
    background-color: rgb(103, 164, 11);
    color: rgb(150, 34, 34);
    border-color: palevioletred;
    margin: 1px;
    font-weight: 900;
    font-family: 'Akronim', cursive;
    font-size: 50px;
    border: 0px;
}

.touchPad:hover {
    background-color: #ff7315;
    color: white;
}